* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
    font-weight: 400;
}

body {
    width: 1920px;
    height: 100vh;
    background: #F9F9F7;
    font-family: "YuMincho","Yu Mincho",serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;                
}

img {
    vertical-align: bottom;
}

.title-en {
    font-size: 80px;  
    line-height: 1.2;      
}

.title-jp {
    font-size: 60px; 
    line-height: 1.2;       
}

.btn {
    text-align: center;
    .btn-en {
        display: inline-block;
        padding: 21px 28px;
        font-size: 32px;
        background: #fff;
        border: 1px solid #333;
        line-height: 1.2;
        & {
            transition: all 0.3s ease;
        }
        &:hover {
            background: #333;
            color: #fff;
        }
    } 
    .btn-jp {
        display: inline-block;
        padding: 21px 28px;
        font-size: 32px;
        background: #fff;
        border: 1px solid #333;
        line-height: 1.2;
        & {
            transition: all 0.3s ease;
        }
        &:hover {
            background: #333;
            color: #fff;
        }
    }
}


// ヘッダー（TOPページのみ）
.header-top-page {
    width: 1498px;
    margin: 0 auto 265px auto;
    display: flex;
    justify-content: space-between;
    .header-nav {
        padding-top: 80px;
        a {
            img {
                margin-bottom: 26px;
            }
        }
        nav {
            text-align: center;
            ul {
                li {
                font-size: 50px;
                list-style: none;
                margin-bottom: 34px;
                position: relative;
                a {
                    display: block;
                    line-height: 1.2;
                } 
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0;
                    height: 1px;
                    background-color: #333;
                    transition: width 0.8s ease;
                }
                &:hover::after {
                    width: 100%;
                } 
            }
                .jp {
                    font-size: 40px;
                    &::after {
                        content: "";
                        position: absolute;
                        bottom: -4px;
                    }
                }
            }
        }
    }
    .header-img {
        img {
            padding-top: 144px;
        } 
    }
}

// ヘッダー（TOPページ以外）
.header {
    width: 1310px;
    margin: 40px auto 120px;
    .header-nav {
        nav {
            ul {
                display: flex;
                align-items: center;
                li {
                    line-height: 1.2;
                    list-style: none;
                    margin-right: 63px;
                    position: relative;
                    &:first-child,
                    &:last-child {
                        margin-right: 0;
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 0;
                        height: 1px;
                        background-color: #333;
                        transition: width 0.8s ease;
                    }
                    &:hover::after {
                        width: 100%;
                    }
                    &.logo::after {
                        content: none;
                    }
                    a {
                        img {
                            width: 148px;
                            height: 176px;
                            margin-right: 87px;
                            & {
                                opacity: 1;
                                transition: opacity 0.3s ease;
                            }
                            &:hover {
                            opacity: 0.8;
                            }
                        }
                    }
                }
                .jp {
                    font-size: 32px;
                    &::after {
                        content: "";
                        position: absolute;
                        bottom: -4px;
                    }
                }
                .en {
                    font-size: 40px;
                    transform: translateY(-1px);
                }
            }
        }
    }
}

// メイン
main {
    // コンセプト
    .concept {
        margin-bottom: 265px;
        .concept-wrapper {
            width: 1394px;
            margin: 0 auto 126px;
            display: flex;
            justify-content: space-between;
            .concept-text1 {
                width: 801px;
                height: 456px;
                margin-top: 81px;
                background: #fff;
                position: relative;
                .title-en {
                    position: absolute;
                    top: -53px;
                    right: 72px;
                }
                p {
                    font-size: 32px;
                    line-height: 1.5;
                    position: absolute;
                    top: 138px;
                    left: 119px;
                }
            }
        }
        .concept-wrapper2 {
            width: 1588px;
            margin: 0 auto;
            display: flex;
            .concept-text1 {
                width: 952px;
                height: 505px;
                margin-top: 111px;
                line-height: 1.5;
                background: #fff;
                position: relative;
                padding: 66px 0 0 64px;
                p {
                    font-size: 32px;
                }
                .company-link {
                    display: inline-block;
                    position: relative;
                    font-size: 32px;
                    margin-top: 67px;
                    &::after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 0;
                        height: 1px;
                        background-color: #333;
                        transition: width 0.8s ease;
                    }
                    &:hover::after {
                        width: 100%;
                    }
                }
            }
            .concept-img {
                position: relative;
                img {
                    position: absolute;
                    left: -92px;
                }
            }
        }
    }
    // メニュー（SOAP EARTHの手作り石鹸）TOPページ
    .menu {
        width: 1576px;
        margin: 0 auto;
        .title-jp {
            text-align: center;
            margin-bottom: 120px;
        }
        .menu-wrapper {
            margin-bottom: 265px;
            .menu-list {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                li {
                    list-style: none;
                    margin-bottom: 120px;
                    & {
                        opacity: 1;
                        transition: opacity 0.3s ease;
                    }
                    &:hover {
                        opacity: 0.8;
                    }
                    a {
                        .name-price {
                            background: #fff;
                            height: 138px;
                            padding: 22px 0 0 30px;
                            font-size: 28px;
                            line-height: 1.2;
                            .name {
                                margin-bottom: 22px;
                                span {
                                    font-size: 24px;
                                }
                            }
                        }  
                    } 
                }
                // メニュー（SOAP EARTHの手作り石鹸）メニューページ
                .menu-item {
                    &:nth-last-child(-n+3) {
                        margin-bottom: 0;
                    }
                }
            }
            .btn-en {
                width: 136px;
                height: 84px;
                padding-top: 22px;
            }
        }
    }

    // ニュース
    .news {
        width: 1744px;
        margin: 0 auto;
        .title-en {
            text-align: center;
            margin-bottom: 120px;
            transform: translateY(-2px);
        }
        .news-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 265px;
            position: relative;
            li {
                list-style: none;
                padding-top: 24px;
                .news-text {
                    width: 500px;
                    height: 258px;
                    background: #fff;
                    padding: 30px 0 0 38px;
                    h2 {
                        font-size: 32px;
                        margin-bottom: 40px;
                        line-height: 1.2;
                    }
                    p {
                        font-size: 24px;
                        line-height: 1.5;
                    }
                }
                img {
                    margin-bottom: 62px;
                }
                .btn-jp {
                    width: 228px;
                    height: 75px;
                    font-size: 24px;
                    padding-top: 22px;
                }
            }
            .line {
                height: 934px;
                border-right: #333 solid 1px;
            }
        }
    }

    // アクセス
    .access {
        width: 1528px;
        margin: 0 auto 265px;
        display: flex;
        position: relative;
        .address {
            width: 678px;
            height: 760px;
            background: #fff;
            text-align: center;
            padding-top: 74px;
            position: absolute;
            top: 33px;
            right: 0;
            .title-en {
                margin-bottom: 84px;
            }
            p {
                font-size: 32px;
                line-height: 1.2;
                margin-bottom: 24px;
                &:last-of-type {
                    margin-bottom: 68px;
                }
            }
            .btn-jp {
                font-size: 24px;
            }
        }
    }

    // 会社概要
    .company {
        margin: 0 auto;
        .title-jp {
            text-align: center;
            margin-bottom: 120px;
            transform: translateY(-2px);
        }
        .company-img {
            text-align: center;
        }
        .company-wrapper {
            width: 1536px;
            margin: 120px auto 265px;
            font-size: 32px;
            .company-text {
                margin-bottom: 120px;
                h2 {
                    font-size: 32px;
                    margin-bottom: 40px;
                    line-height: 1.1875;
                }
                p {
                    line-height: 1.5;
                }
                dl {
                    display: flex;
                    font-size: 22px;
                    margin: 46px 0 120px 0;
                    line-height: 1.5;
                    dt {
                        margin-right: 68px;
                        line-height: 1.5;
                    }
                }
            }
            $company-icon-margins: 200px, 176px, 171px, 0; // それぞれのmargin-right
            .company-icon {
                width: 1243px;
                margin: 0 auto 120px;
                display: flex;
                li {
                    list-style: none;  
                    text-align: center; 
                }
                @for $i from 1 through length($company-icon-margins) {
                    li:nth-of-type(#{$i}) {
                    margin-right: nth($company-icon-margins, $i);
                    }
                }
            }
            .company-overview {
                width: 1146px;
                margin: 265px auto 265px;
                display: flex;
                flex-wrap: wrap; 
                dt {
                    width: 450px;
                    font-size: 32px;
                    padding-right: 30px;
                    border-bottom: 1px solid #333;
                    padding: 45px 0 19px 30px;
                    line-height: 1.19;
                }
                dt:first-of-type {
                    padding-top: 0px;
                }
                dt:last-of-type {
                    padding-bottom: 18px;
                }
                dd {
                    width: 696px;
                    border-bottom: 1px solid #333;
                    padding: 45px 0 19px 0;
                    line-height: 1.19;
                } 
                dd:first-of-type {
                    padding-top: 0px;
                }
                dd:last-of-type {
                    padding-bottom: 18px;
                }
            }
        }
    }

    // Contact お問い合わせ
    .contact {
        .title-en {
            text-align: center;
            margin-bottom: 120px;
            transform: translateY(-2px);
        }
        .contact-wrapper {
            width: 1318px;
            margin: 0 auto 265px;
            background-color: #fff;
            padding: 90px 150px 94px 146px;
            .contact-form {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                label {
                    width: 377px;
                    font-size: 32px;
                    margin-bottom: 58px;
                    line-height: 1.2;
                    padding-top: 26px;
                }
                input, textarea {
                    width: 645px;
                    height: 90px;
                    margin-bottom: 58px;
                    border: 1px solid #333;
                    padding: 20px;
                }
                textarea {
                    height: 300px;
                    resize: none;
                    margin-bottom: 100px;
                }
                .btn-jp {
                    margin: 0 auto;
                    padding: 22px 29px;
                    font-size: 32px;
                    background: #fff;
                    border: 1px solid #333;
                    line-height: 1.2;
                    transform: translateX(2px);
                    & {
                        transition: all 0.3s ease;
                    }
                    &:hover {
                        background: #333;
                        color: #fff;
                    }
                }
            }
        }
    }

    // 商品詳細
    .menu-details {
        width: 1440px;
        margin: 0 auto 265px;
        h2 {
            font-size: 38px;
            line-height: 1.2;
            margin-bottom: 56px;
            transform: translateY(-1px);
        }
        .menu-details-wrapper {
            display: flex;
            justify-content: space-between;    
            margin-bottom: 100px;
            .menu-details-content {
                width: 728px;
                height: 542px;
                background: #fff;
                padding: 50px 0 76px 65px;
                margin-top: 70px;
                h3, .price {
                    font-size: 28px;
                    line-height: 1.2145;
                    margin-bottom: 20px;
                }
                .price {
                    margin-bottom: 34px;
                }
                p {
                    font-size: 24px;
                    line-height: 1.5;
                    margin-bottom: 40px;
                }
                dl {
                    display: grid;
                    grid-template-columns: auto 1fr; // 2列に分割
                    font-size: 18px;
                    line-height: 1.223;
                    dt {
                        margin: 0 46px 22px 0;
                    }
                }
            }    
        }
        .btn {
            .btn-jp {
                line-height: 1.1875;
                padding: 22px 28.5px 22px 29px;
                align-items: center;
            }
        }
    }

    // News詳細
    .news-details {
        width: 1528px;
        margin: 0 auto 265px;
        h2 {
            font-size: 38px;
            line-height: 1.2;
            margin-bottom: 56px;
            transform: translateY(-1px);
        }
        .news-details-wrapper {
            display: flex;
            justify-content: space-between;    
            .news-details-content {
                width: 728px;
                height: 720px;
                background: #fff;
                padding: 44px 0 41px 48px;
                h3 {
                    font-size: 32px;
                    line-height: 1.2;
                    margin-bottom: 22px;
                }
                .subtitle, .maintext, .subtext {
                    font-size: 24px;
                    line-height: 1.5;
                }
                .subtitle {
                    margin-bottom: 26px;
                }
                .maintext {
                    margin-bottom: 40px;
                }
                dl {
                    display: grid;
                    grid-template-columns: auto 1fr; // 2列に分割
                    font-size: 24px;
                    line-height: 1.5;
                    dt {
                        margin: 0 77px 11px 0;
                    }
                    dd {
                        margin-bottom: 11px;
                    }
                }
                .subtext {
                    margin: 34px 0 45px;
                }
                .btn {
                    position: relative;
                    left: calc((100% - 48px) / 2); // 左paddingを引いた範囲の中央
                    transform: translateX(-50%);
                    .btn-en {
                        line-height: 1.1875;
                        padding: 22px 29px 22px 29px;
                    }
                }
            }
        }
    }
}

// フッター
footer {
    .footer-sns-list {
        position: relative;
        .sns {
            .sns-list {
                display: flex;
                justify-content: space-between;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                li {
                    list-style: none;
                    margin-right: 274px;
                    &:last-child {
                    margin-right: 0;
                    }
                    a {
                        display: block;
                        img {
                            width: 100px;
                            height: 100px;
                        }
                    }
                    & {
                        opacity: 1;
                        transition: opacity 0.3s ease;
                    }
                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        }
    }
    .footer-nav-list {
        width: 1426px;
        margin: 62px auto 24px;
        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            li {
                list-style: none;
                font-size: 32px;
                line-height: 1.45;
                position: relative;
                img {
                    width: 154px;
                    height: 183px;
                }
                &::after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 0;
                        height: 1px;
                        background-color: #333;
                        transition: width 0.8s ease;
                    }
                &:hover::after {
                    width: 100%;
                }
                &.logo::after {
                    content: none;
                }
            }
            .jp {
                font-size: 26px;
                &::after {
                    content: "";
                    position: absolute;
                    bottom: -4px;
                }
            }
        }
    }
    .copyright {
        width: 1566px;
        margin: 0 auto;
        text-align: center;
        font-size: 18px;
        line-height: 1.2;
        padding: 40px 0 60px 0;
        border-top: 1px solid #333;
    }
}


