* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
  font-weight: 400;
}

body {
  width: 1920px;
  height: 100vh;
  background: #F9F9F7;
  font-family: "YuMincho", "Yu Mincho", serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

img {
  vertical-align: bottom;
}

.title-en {
  font-size: 80px;
  line-height: 1.2;
}

.title-jp {
  font-size: 60px;
  line-height: 1.2;
}

.btn {
  text-align: center;
}
.btn .btn-en {
  display: inline-block;
  padding: 21px 28px;
  font-size: 32px;
  background: #fff;
  border: 1px solid #333;
  line-height: 1.2;
}
.btn .btn-en {
  transition: all 0.3s ease;
}
.btn .btn-en:hover {
  background: #333;
  color: #fff;
}
.btn .btn-jp {
  display: inline-block;
  padding: 21px 28px;
  font-size: 32px;
  background: #fff;
  border: 1px solid #333;
  line-height: 1.2;
}
.btn .btn-jp {
  transition: all 0.3s ease;
}
.btn .btn-jp:hover {
  background: #333;
  color: #fff;
}

.header-top-page {
  width: 1498px;
  margin: 0 auto 265px auto;
  display: flex;
  justify-content: space-between;
}
.header-top-page .header-nav {
  padding-top: 80px;
}
.header-top-page .header-nav a img {
  margin-bottom: 26px;
}
.header-top-page .header-nav nav {
  text-align: center;
}
.header-top-page .header-nav nav ul li {
  font-size: 50px;
  list-style: none;
  margin-bottom: 34px;
  position: relative;
}
.header-top-page .header-nav nav ul li a {
  display: block;
  line-height: 1.2;
}
.header-top-page .header-nav nav ul li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #333;
  transition: width 0.8s ease;
}
.header-top-page .header-nav nav ul li:hover::after {
  width: 100%;
}
.header-top-page .header-nav nav ul .jp {
  font-size: 40px;
}
.header-top-page .header-nav nav ul .jp::after {
  content: "";
  position: absolute;
  bottom: -4px;
}
.header-top-page .header-img img {
  padding-top: 144px;
}

.header {
  width: 1310px;
  margin: 40px auto 120px;
}
.header .header-nav nav ul {
  display: flex;
  align-items: center;
}
.header .header-nav nav ul li {
  line-height: 1.2;
  list-style: none;
  margin-right: 63px;
  position: relative;
}
.header .header-nav nav ul li:first-child, .header .header-nav nav ul li:last-child {
  margin-right: 0;
}
.header .header-nav nav ul li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #333;
  transition: width 0.8s ease;
}
.header .header-nav nav ul li:hover::after {
  width: 100%;
}
.header .header-nav nav ul li.logo::after {
  content: none;
}
.header .header-nav nav ul li a img {
  width: 148px;
  height: 176px;
  margin-right: 87px;
}
.header .header-nav nav ul li a img {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.header .header-nav nav ul li a img:hover {
  opacity: 0.8;
}
.header .header-nav nav ul .jp {
  font-size: 32px;
}
.header .header-nav nav ul .jp::after {
  content: "";
  position: absolute;
  bottom: -4px;
}
.header .header-nav nav ul .en {
  font-size: 40px;
  transform: translateY(-1px);
}

main .concept {
  margin-bottom: 265px;
}
main .concept .concept-wrapper {
  width: 1394px;
  margin: 0 auto 126px;
  display: flex;
  justify-content: space-between;
}
main .concept .concept-wrapper .concept-text1 {
  width: 801px;
  height: 456px;
  margin-top: 81px;
  background: #fff;
  position: relative;
}
main .concept .concept-wrapper .concept-text1 .title-en {
  position: absolute;
  top: -53px;
  right: 72px;
}
main .concept .concept-wrapper .concept-text1 p {
  font-size: 32px;
  line-height: 1.5;
  position: absolute;
  top: 138px;
  left: 119px;
}
main .concept .concept-wrapper2 {
  width: 1588px;
  margin: 0 auto;
  display: flex;
}
main .concept .concept-wrapper2 .concept-text1 {
  width: 952px;
  height: 505px;
  margin-top: 111px;
  line-height: 1.5;
  background: #fff;
  position: relative;
  padding: 66px 0 0 64px;
}
main .concept .concept-wrapper2 .concept-text1 p {
  font-size: 32px;
}
main .concept .concept-wrapper2 .concept-text1 .company-link {
  display: inline-block;
  position: relative;
  font-size: 32px;
  margin-top: 67px;
}
main .concept .concept-wrapper2 .concept-text1 .company-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #333;
  transition: width 0.8s ease;
}
main .concept .concept-wrapper2 .concept-text1 .company-link:hover::after {
  width: 100%;
}
main .concept .concept-wrapper2 .concept-img {
  position: relative;
}
main .concept .concept-wrapper2 .concept-img img {
  position: absolute;
  left: -92px;
}
main .menu {
  width: 1576px;
  margin: 0 auto;
}
main .menu .title-jp {
  text-align: center;
  margin-bottom: 120px;
}
main .menu .menu-wrapper {
  margin-bottom: 265px;
}
main .menu .menu-wrapper .menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
main .menu .menu-wrapper .menu-list li {
  list-style: none;
  margin-bottom: 120px;
}
main .menu .menu-wrapper .menu-list li {
  opacity: 1;
  transition: opacity 0.3s ease;
}
main .menu .menu-wrapper .menu-list li:hover {
  opacity: 0.8;
}
main .menu .menu-wrapper .menu-list li a .name-price {
  background: #fff;
  height: 138px;
  padding: 22px 0 0 30px;
  font-size: 28px;
  line-height: 1.2;
}
main .menu .menu-wrapper .menu-list li a .name-price .name {
  margin-bottom: 22px;
}
main .menu .menu-wrapper .menu-list li a .name-price .name span {
  font-size: 24px;
}
main .menu .menu-wrapper .menu-list .menu-item:nth-last-child(-n+3) {
  margin-bottom: 0;
}
main .menu .menu-wrapper .btn-en {
  width: 136px;
  height: 84px;
  padding-top: 22px;
}
main .news {
  width: 1744px;
  margin: 0 auto;
}
main .news .title-en {
  text-align: center;
  margin-bottom: 120px;
  transform: translateY(-2px);
}
main .news .news-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 265px;
  position: relative;
}
main .news .news-wrapper li {
  list-style: none;
  padding-top: 24px;
}
main .news .news-wrapper li .news-text {
  width: 500px;
  height: 258px;
  background: #fff;
  padding: 30px 0 0 38px;
}
main .news .news-wrapper li .news-text h2 {
  font-size: 32px;
  margin-bottom: 40px;
  line-height: 1.2;
}
main .news .news-wrapper li .news-text p {
  font-size: 24px;
  line-height: 1.5;
}
main .news .news-wrapper li img {
  margin-bottom: 62px;
}
main .news .news-wrapper li .btn-jp {
  width: 228px;
  height: 75px;
  font-size: 24px;
  padding-top: 22px;
}
main .news .news-wrapper .line {
  height: 934px;
  border-right: #333 solid 1px;
}
main .access {
  width: 1528px;
  margin: 0 auto 265px;
  display: flex;
  position: relative;
}
main .access .address {
  width: 678px;
  height: 760px;
  background: #fff;
  text-align: center;
  padding-top: 74px;
  position: absolute;
  top: 33px;
  right: 0;
}
main .access .address .title-en {
  margin-bottom: 84px;
}
main .access .address p {
  font-size: 32px;
  line-height: 1.2;
  margin-bottom: 24px;
}
main .access .address p:last-of-type {
  margin-bottom: 68px;
}
main .access .address .btn-jp {
  font-size: 24px;
}
main .company {
  margin: 0 auto;
}
main .company .title-jp {
  text-align: center;
  margin-bottom: 120px;
  transform: translateY(-2px);
}
main .company .company-img {
  text-align: center;
}
main .company .company-wrapper {
  width: 1536px;
  margin: 120px auto 265px;
  font-size: 32px;
}
main .company .company-wrapper .company-text {
  margin-bottom: 120px;
}
main .company .company-wrapper .company-text h2 {
  font-size: 32px;
  margin-bottom: 40px;
  line-height: 1.1875;
}
main .company .company-wrapper .company-text p {
  line-height: 1.5;
}
main .company .company-wrapper .company-text dl {
  display: flex;
  font-size: 22px;
  margin: 46px 0 120px 0;
  line-height: 1.5;
}
main .company .company-wrapper .company-text dl dt {
  margin-right: 68px;
  line-height: 1.5;
}
main .company .company-wrapper .company-icon {
  width: 1243px;
  margin: 0 auto 120px;
  display: flex;
}
main .company .company-wrapper .company-icon li {
  list-style: none;
  text-align: center;
}
main .company .company-wrapper .company-icon li:nth-of-type(1) {
  margin-right: 200px;
}
main .company .company-wrapper .company-icon li:nth-of-type(2) {
  margin-right: 176px;
}
main .company .company-wrapper .company-icon li:nth-of-type(3) {
  margin-right: 171px;
}
main .company .company-wrapper .company-icon li:nth-of-type(4) {
  margin-right: 0;
}
main .company .company-wrapper .company-overview {
  width: 1146px;
  margin: 265px auto 265px;
  display: flex;
  flex-wrap: wrap;
}
main .company .company-wrapper .company-overview dt {
  width: 450px;
  font-size: 32px;
  padding-right: 30px;
  border-bottom: 1px solid #333;
  padding: 45px 0 19px 30px;
  line-height: 1.19;
}
main .company .company-wrapper .company-overview dt:first-of-type {
  padding-top: 0px;
}
main .company .company-wrapper .company-overview dt:last-of-type {
  padding-bottom: 18px;
}
main .company .company-wrapper .company-overview dd {
  width: 696px;
  border-bottom: 1px solid #333;
  padding: 45px 0 19px 0;
  line-height: 1.19;
}
main .company .company-wrapper .company-overview dd:first-of-type {
  padding-top: 0px;
}
main .company .company-wrapper .company-overview dd:last-of-type {
  padding-bottom: 18px;
}
main .contact .title-en {
  text-align: center;
  margin-bottom: 120px;
  transform: translateY(-2px);
}
main .contact .contact-wrapper {
  width: 1318px;
  margin: 0 auto 265px;
  background-color: #fff;
  padding: 90px 150px 94px 146px;
}
main .contact .contact-wrapper .contact-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
main .contact .contact-wrapper .contact-form label {
  width: 377px;
  font-size: 32px;
  margin-bottom: 58px;
  line-height: 1.2;
  padding-top: 26px;
}
main .contact .contact-wrapper .contact-form input, main .contact .contact-wrapper .contact-form textarea {
  width: 645px;
  height: 90px;
  margin-bottom: 58px;
  border: 1px solid #333;
  padding: 20px;
}
main .contact .contact-wrapper .contact-form textarea {
  height: 300px;
  resize: none;
  margin-bottom: 100px;
}
main .contact .contact-wrapper .contact-form .btn-jp {
  margin: 0 auto;
  padding: 22px 29px;
  font-size: 32px;
  background: #fff;
  border: 1px solid #333;
  line-height: 1.2;
  transform: translateX(2px);
}
main .contact .contact-wrapper .contact-form .btn-jp {
  transition: all 0.3s ease;
}
main .contact .contact-wrapper .contact-form .btn-jp:hover {
  background: #333;
  color: #fff;
}
main .menu-details {
  width: 1440px;
  margin: 0 auto 265px;
}
main .menu-details h2 {
  font-size: 38px;
  line-height: 1.2;
  margin-bottom: 56px;
  transform: translateY(-1px);
}
main .menu-details .menu-details-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
main .menu-details .menu-details-wrapper .menu-details-content {
  width: 728px;
  height: 542px;
  background: #fff;
  padding: 50px 0 76px 65px;
  margin-top: 70px;
}
main .menu-details .menu-details-wrapper .menu-details-content h3, main .menu-details .menu-details-wrapper .menu-details-content .price {
  font-size: 28px;
  line-height: 1.2145;
  margin-bottom: 20px;
}
main .menu-details .menu-details-wrapper .menu-details-content .price {
  margin-bottom: 34px;
}
main .menu-details .menu-details-wrapper .menu-details-content p {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 40px;
}
main .menu-details .menu-details-wrapper .menu-details-content dl {
  display: grid;
  grid-template-columns: auto 1fr;
  font-size: 18px;
  line-height: 1.223;
}
main .menu-details .menu-details-wrapper .menu-details-content dl dt {
  margin: 0 46px 22px 0;
}
main .menu-details .btn .btn-jp {
  line-height: 1.1875;
  padding: 22px 28.5px 22px 29px;
  align-items: center;
}
main .news-details {
  width: 1528px;
  margin: 0 auto 265px;
}
main .news-details h2 {
  font-size: 38px;
  line-height: 1.2;
  margin-bottom: 56px;
  transform: translateY(-1px);
}
main .news-details .news-details-wrapper {
  display: flex;
  justify-content: space-between;
}
main .news-details .news-details-wrapper .news-details-content {
  width: 728px;
  height: 720px;
  background: #fff;
  padding: 44px 0 41px 48px;
}
main .news-details .news-details-wrapper .news-details-content h3 {
  font-size: 32px;
  line-height: 1.2;
  margin-bottom: 22px;
}
main .news-details .news-details-wrapper .news-details-content .subtitle, main .news-details .news-details-wrapper .news-details-content .maintext, main .news-details .news-details-wrapper .news-details-content .subtext {
  font-size: 24px;
  line-height: 1.5;
}
main .news-details .news-details-wrapper .news-details-content .subtitle {
  margin-bottom: 26px;
}
main .news-details .news-details-wrapper .news-details-content .maintext {
  margin-bottom: 40px;
}
main .news-details .news-details-wrapper .news-details-content dl {
  display: grid;
  grid-template-columns: auto 1fr;
  font-size: 24px;
  line-height: 1.5;
}
main .news-details .news-details-wrapper .news-details-content dl dt {
  margin: 0 77px 11px 0;
}
main .news-details .news-details-wrapper .news-details-content dl dd {
  margin-bottom: 11px;
}
main .news-details .news-details-wrapper .news-details-content .subtext {
  margin: 34px 0 45px;
}
main .news-details .news-details-wrapper .news-details-content .btn {
  position: relative;
  left: calc((100% - 48px) / 2);
  transform: translateX(-50%);
}
main .news-details .news-details-wrapper .news-details-content .btn .btn-en {
  line-height: 1.1875;
  padding: 22px 29px 22px 29px;
}

footer .footer-sns-list {
  position: relative;
}
footer .footer-sns-list .sns .sns-list {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
footer .footer-sns-list .sns .sns-list li {
  list-style: none;
  margin-right: 274px;
}
footer .footer-sns-list .sns .sns-list li:last-child {
  margin-right: 0;
}
footer .footer-sns-list .sns .sns-list li a {
  display: block;
}
footer .footer-sns-list .sns .sns-list li a img {
  width: 100px;
  height: 100px;
}
footer .footer-sns-list .sns .sns-list li {
  opacity: 1;
  transition: opacity 0.3s ease;
}
footer .footer-sns-list .sns .sns-list li:hover {
  opacity: 0.8;
}
footer .footer-nav-list {
  width: 1426px;
  margin: 62px auto 24px;
}
footer .footer-nav-list ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-nav-list ul li {
  list-style: none;
  font-size: 32px;
  line-height: 1.45;
  position: relative;
}
footer .footer-nav-list ul li img {
  width: 154px;
  height: 183px;
}
footer .footer-nav-list ul li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #333;
  transition: width 0.8s ease;
}
footer .footer-nav-list ul li:hover::after {
  width: 100%;
}
footer .footer-nav-list ul li.logo::after {
  content: none;
}
footer .footer-nav-list ul .jp {
  font-size: 26px;
}
footer .footer-nav-list ul .jp::after {
  content: "";
  position: absolute;
  bottom: -4px;
}
footer .copyright {
  width: 1566px;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  line-height: 1.2;
  padding: 40px 0 60px 0;
  border-top: 1px solid #333;
}/*# sourceMappingURL=style.css.map */